{% extends 'base.html'%}
<!-- MACROS Imports -->
{% from 'macro.html' import flash %}

<!-- Title -->
{% block title %}Save has done !!{%endblock%}

<!-- Jumbo Header -->
{% block content %}
    <h1>Upload Page</h1>
<!-- Flash -->
{{flash()}}


{% if file_type.endswith('mp3') %}
<div style='height:200;color:#c2c2c2c2;'>
  </div>

  <h1>Now you play audio</h1>
<audio src="data:;base64,{{file_render}}">
  Your browser does not support the
           <code>audio</code> element.

</audio>

{%else%}
<div class="d-flex justify-content-center">
  <div class="card" style='width:50%;'>
    <!-- Render picture -->
    <image class="card-img-top" src='data:;base64,{{file_render}}' alt='NAO FOI POSSIVER VISUALIZAR A IMAGE'>
      <div class="card-body">
        <h2>
          <a href=" ">{{filename|capitalize}}</a>
          <span class="badge badge-secondary">{{file_description|capitalize}}</span>
          <span class="badge badge-secondary">Type : {{file_type}}</span>
          <span class="badge badge-secondary">created at : {{created}}</span>
        </h2>

      </div>

  </div>


</div>
{% endif %}
{% endblock%}
